<h2 mat-dialog-title>Thanks for using Pool Analyzer</h2>
<mat-dialog-content class="mat-typography">
  <h3><b>How does it work?</b></h3>
  <p>Check the <b>Avg. gain / dollar provided</b> column to know what pools are giving more comissions. The value is calculated based on the volume, tvl and the fee of the pool, but it doesn't take into account ranges. In order to do this calculation, every 12h we process all transactions done in the last 5 days on the Ethereum and Polygon blockchains.</p>

  <p>The higher the avg. gain / dollar, the better. But please take into account that some pools are prone to have higher Impermanent Loss, so be aware of this and also consider having proper ranges on the pool, so that you keep earning comissions.</p>

  <h3><b>Server cost</b></h3>
  <p>Hosting this application has a cost. Any donation will help to mitigate the costs of maintaining the setup alive.</p>

  <h3><b>Want to contribute?</b></h3>

  <p>If you want this innitiative to continue running and improving, you can donate ETH, USDC, USDT, MATIC to this address: </p>
  <p><strong>0x3a0E98D352811cE9efFf56a57C7C859193472c77</strong></p>
  <p>I will be happy to hear from you, in case you have any advice or doubt. Please send me an e-mail to: <br>contact@poolanalyzer.com</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-donation" mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>