<h2 mat-dialog-title>Thanks for using Pool Analyzer</h2>
<mat-dialog-content class="mat-typography">
  <h3><b>How does it work?</b></h3>
  <p>Pool Analyzer checks every 24h all the transactions done in Uniswap during the last 30 days in the Ethereum and Polygon networks.</p>
  <p>Once the data is fetched, we calculate the average gain per dollar provided on each liquidity pool. Pool Analyzer uses the TVL, Volume and Fee of the pool to calculate the <b>average gains per dollar provided</b> on each liquidity pool.</p>
  <p>The higher the avg. gain / dollar the more commissions you would earn, on average.</p>
  <p>Be aware that some pools may be more attractive because of the possible commissions earned, but they may also be affected by the Impermanent Loss.</p>
  <p>Also, this table does not take into consideration the ranges of the liquidity positions that you would provide. It is an average to be able to compare what pool would give more profits if we had the same range and the same quantity on both pools during the last X days.</p>

  <h3><b>Future updates</b></h3>
  <p>- Add a recommendation interval for providing Liquidity on each pool</p>
  <p>- Add an alert system through Twitter to post any important update on the pools</p>

  <h3><b>Want to contribute?</b></h3>
  <p>You can contribute in many different ways: sharing the tool, sending me a message giving your opinion or what could be improved, or also donating some tokens (hosting this website has a cost)</p>
  <p>If you want to support this project so that it can continue running and improving with extra features, you can donate ETH, USDC, USDT, MATIC to this address: </p>
  <p><strong>0x3a0E98D352811cE9efFf56a57C7C859193472c77</strong></p>
  <p>I will be happy to hear from you, in case you have any advice or doubt. Please send me an e-mail to:</p>
  <p><strong>contact@poolanalyzer.com</strong></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-donation" mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>