<h2 mat-dialog-title>Thanks for your support</h2>
<mat-dialog-content class="mat-typography">
  <h3><b>How does it work?</b></h3>
  <p>Every 12h we compute all transactions done in the last 5 days Ethereum and Polygon networks to be able to determine which is the best pool to provide liquidity. You can use this information to move your funds from existing pools or to create new positions based on the score parameter.</p>

  <h3><b>Pool score</b></h3>
  <p>The score is calculated based on the volume, tvl and the fee tier of the pool. <b>The higher the score, the more benefits you are going to get.</b></p>

  <h3><b>Server cost</b></h3>
  <p>Hosting this application has a cost. Any donation will help to mitigate the costs of maintaining the setup alive.</p>

  <h3><b>How can you contribute?</b></h3>

  <p>If you found this innitiative useful and want to contribute to the maintenance of the app, you can donate ETH, USDC, USDT, MATIC, or any other token you would like to send, to this address: </p>
  <p><strong>0x3a0E98D352811cE9efFf56a57C7C859193472c77</strong></p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-primary" mat-button [mat-dialog-close]="true" cdkFocusInitial>OK</button>
</mat-dialog-actions>