strong {
    color: var(--text);
}

p {
    color: var(--text);
}

.blockchain-select-label {
    padding-left: 5px;
}

.uniswap-table {
    background-color: var(--darkbackground);
    padding: 40px;
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-info {
    color: var(--text);
    background-color: #17a2b8;
}

.badge-secondary {
    color: var(--text);
    background-color: #6c757d;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}

.pool-row {
    cursor: pointer;
}

.days-interval-filter {
    margin-top: 30px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: var(--darkbackground)
}
.second-row-filters {
    padding-top: 30px;
    padding-bottom: 20px;
}

mat-slider {
    width: 400px;
}

.border-radius-10 {
    border-radius: 10px;
    border-color: var(--principalbackground) !important;
}

.end-of-table{
    min-height: 200px;
}
