<div class="container">
    <div class="row">
        <div class="col">

            <label for="blockchainSelector" class="col-sm-2 col-form-label">Blockchain</label>
            <div class="col-sm-6">
                <ng-select name="blockchainSelector" (close)="onBlockchainChanged($event)"
                           [(ngModel)]="selectedBlockchain" [clearable]="false">
                    <ng-option *ngFor="let blockchain of blockchains" [value]="blockchain.id">
                        <img src="assets/{{blockchain.icon}}" width="18" height="18"/>


                        <label class="blockchain-select-label">{{blockchain.name}}</label>
                    </ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <label for="riskSelector" class="col-sm-2 col-form-label">Risk</label>
            <div class="col-sm-6">

                <ng-select name="riskSelector" [(ngModel)]="selectedRisk" (close)="onRiskChanged($event)"
                           [clearable]="false">
                    <ng-option *ngFor="let risk of risks" [value]="risk.id">{{risk.name}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col">
            <label for="poolSearch" class="col-sm-2 col-form-label">Search</label>
            <div class="col-sm-6">
                <input class="form-control" placeholder="WETH USD" type="text" name="poolSearch" id="poolSearch"
                       (keyup)="onSearchChanged($event)" [(ngModel)]="nameFilter" ng-trim="true"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="d-flex justify-content-center days-interval-filter">
            <label class="col col-form-label">Days (Interval)</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="col-1 form-check form-check-inline" *ngFor="let interval of daysInterval">
                <input class="form-check-input" [checked]="selectedIntervals.indexOf(interval) > -1"
                       [value]="interval" (change)="changeDayInterval($event)" type="checkbox" id="{{interval}}"/>
                <label class="form-check-label">{{interval}} {{interval === 1 ? 'day' : 'days'}}</label>
            </div>
        </div>
    </div>
    
</div>
<br>

<div class="container border border-0 rounded uniswap-table">
    <h2>Pools</h2>
    <div class="table-responsive">
        <table class="table table-hover" matSort (matSortChange)="sortData($event)">
            <thead>
            <tr>
                <th mat-sort-header="pool"><strong>Pool</strong></th>
                <th mat-sort-header="fee"><strong>Fee tier</strong></th>
                <th *ngFor="let interval of selectedIntervals" >
                    <div mat-sort-header="score-{{interval}}" placement="top" ngbTooltip="Average daily earnings of the last {{interval}} {{interval === 1 ? 'day' : 'days'}} obtained for every 100 dollars provided on the liquidity pool."><strong>Avg. earnings ({{interval}} {{interval === 1 ? 'day' : 'days'}})</strong><span class="bi bi-info-circle"></span></div>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let pool of sortedData" class="pool-row" (click)="openPoolDetailedView(pool)">
                <th><p>{{pool.token0.name}} - {{pool.token1.name}}</p></th>
                <th><span class="badge badge-pill badge-secondary">{{pool.feeTier}}%</span></th>
        
                <th *ngFor="let interval of selectedIntervals">
                    <div *ngIf="pool.volumes !== undefined">                
                        <!-- <div><p>{{parseDollars(getPoolVolume(pool, interval))}}</p></div> -->
                        <!-- <div><p>{{pool.score(interval).toFixed(6)}}$</p></div> -->
                        <div><p>${{getPoolScore(pool, interval)}}</p></div>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>