strong {
	color: whitesmoke;
}
p{
	color: rgb(208, 209, 214);
}
.blockchain-select-label{
	padding-left: 5px;
}

.uniswap-table {
	background-color: rgb(32, 33, 38);
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 85%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.badge-pill {
    padding-right: 0.6em;
    padding-left: 0.6em;
    border-radius: 10rem;
}
