/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
:root {
	--darkbackground: #0D1B2A;
	--principalbackground: #1B263B;
	--secondarybackground: #415A77;
	--lightbackground: #778DA9;
	--text: #E0E1DD;
	--textheader: #f2de57;
	--textheader2: #f2be57;
	--textlightheader: #f2d657;
}
html, body {
	height: 100%;
}
h1 {
	color: var(--textheader2);
}
h2 {
	color: var(--textheader);
}
h3 {
	color: var(--textlightheader);
}
body { 
	margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
	background-color: var(--principalbackground);
	color: var(--text);
}
h1.text-title{
	font-family: Inter, sans-serif;
	font-weight: 700;
	font-size: 30px;
}
.btn {
	color: var(--text);
}

.mat-dialog-container {
	background-color: var(--darkbackground);
	color: var(--text);
}
.mat-slider-thumb {
	background-color: white !important;
}

.mat-slider-thumb-label {
	background-color: white !important;
}

.mat-slider.mat-slider-horizontal .mat-slider-wrapper {
	top: 18px;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
	height: 12px;
	border-radius: 10px
}
.mat-slider.mat-slider-horizontal .mat-slider-track-background,
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
	height: 100%;
}
.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
	background-color: white;
}
.mat-accent .mat-slider-thumb {
	height: 30px;
	width: 30px;
	background-color: white;
	border: solid 2px gray;
	bottom: -20px;
	right: -20px;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
	background-color: white;
}

.ng-dropdown-panel-items  {
	z-index: 4020;
	display: block !important;
}