footer {
    position: fixed;
    height: 80px;
    bottom: 0;
    width: 100%;
    background-color: var(--darkbackground)
}

.div-donate{
    padding-top: 15px;
    padding-right: 15px;
}

.title{
    padding-top:  20px;
}

.btn-donation {
    background-color: var(--secondarybackground)
}

.btn-donation:hover {
    background-color: var(--lightbackground)
}

.main {
    padding-top: 25px;
}

.twitter-text {
    padding-left: 25px;
    color: var(--textheader);
}