<div class="container main">
<div class="row align-items-center">
	<div class="col-1">
		<img src="assets/logo.png" width="100" height="100" />
	</div>
	<div class="col-3">
		<h1 class="text-title">Pool Analyzer</h1>
	</div>

</div>


<hr>
<app-uniswap-table></app-uniswap-table>

</div>

<footer class="row fixed-footer align-items-center">
<div class="col-11">
	<share-buttons theme="circles-dark"
				   [include]="['telegram', 'twitter', 'whatsapp', 'facebook', 'linkedin', 'reddit', 'copy' ]"
				   [showIcon]="true"
				   [showText]="false"
				   url="https://www.poolanalyzer.com"
				   description="Check out which are the most profitable pools from Uniswap!"
				   twitterAccount="poolanalyzer"
				   class="d-flex justify-content-center">
	</share-buttons>
</div>
<div class="col-1">
	<button class="btn btn-donation" mat-button (click)="openDialog()"><mat-icon>info</mat-icon></button>
</div>

</footer>